name: pickup_app
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.15.6
  transparent_image: ^1.0.0
  cupertino_icons: ^0.1.2
  firebase_database: 2.0.3

  image_picker:
#  http:
  #firebase_auth: ^0.8.4+2
  firebase_auth: 0.8.4+2
  google_sign_in:
  google_maps_flutter: ^0.5.6
  rxdart: ^0.20.0
#  google_sign_in: 3.2.4
  location: ^2.3.5
  cloud_firestore: ^0.9.13
  geolocator: '^3.0.1'

  flutter_alert: ^0.4.0
  geoflutterfire: ^2.0.3+2
  http: ^0.12.0+2
  autocomplete_textfield: ^1.6.4
  datetime_picker_formfield: ^0.1.4
  flutter_date_picker: 0.1.8
  flutter_datetime_picker: 1.1.6
  flutter_cupertino_date_picker: 0.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
  - assets/logoname.png
  - assets/logoname2.png
  - assets/new_logo.png
  - assets/new_logo1.jpg
  - assets/print/logo-print-hd-transparent.png



  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
